SingleWordProductionDutch-iBIDS
SingleWordProductionDutch-main/features
SingleWordProductionDutch-main/results
*__pycache__
*.vscode
HuBERT Extract Hidden Units/results/
Transformer model for kmeans Training/train_data
Transformer model for kmeans Training/test_data
Kmeans of sounds/features
Kmeans of sounds/results
